NEXT_PUBLIC_SUPABASE_URL=https://tfacgyltzbfekhvjtixo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRmYWNneWx0emJmZWtodmp0aXhvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQzMzI1ODQsImV4cCI6MjA2OTkwODU4NH0.eQmtkroi3AfdrnMbUVAvG9t_ocKlkg5TBRpMwD0GayM